extends /layout/_application
block body
  div.wrapper
    h1.ttl
      img(src="img/common/ttl.png" alt="セッション")
    p.start
      button
        img(src="img/common/start.png" alt="スタート")
    div.part_container
      p.part.guitar
        img(src="img/part/guitar-one.png" alt="ギター")
      p.part.bass
        img(src="img/part/bass-one.png" alt="ベース")
      p.part.drum
        img(src="img/part/drum-one.png" alt="ドラム")
      p.part.vocal
        img(src="img/part/vocal-one.png" alt="ボーカル")
      p.part.piano
        img(src="img/part/piano-one.png" alt="ピアノ")
      p.part.conga
        img(src="img/part/conga-one.png" alt="コンガ")

  div.wrapper-part
    p.part
